<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mql2Fdk.Converter.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="AdvisorConverter.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <userSettings>
    <Mql2Fdk.Converter.UserSettings>
      <setting name="IncludeDirectories" serializeAs="String">
        <value />
      </setting>
      <setting name="BlacklistFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="Width" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="StartX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StartY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedOutputFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="TimeToCompletion" serializeAs="String">
        <value>200</value>
      </setting>
    </Mql2Fdk.Converter.UserSettings>
    <AdvisorConverter.UserSettings>
      <setting name="IncludeDirectories" serializeAs="String">
        <value/>
      </setting>
      <setting name="BlacklistFiles" serializeAs="String">
        <value/>
      </setting>
    </AdvisorConverter.UserSettings>
  </userSettings>
</configuration>
