.Rproj*
Fdk2R/FdkRTest/bin/*
obj/
*.pdb
Fdk2R/SharedFdkFunctionality/bin/*
Fdk2R/R2Cs/bin/*
Fdk2R/TestRClrHost/bin/*
*.suo
*.DotSettings.user
*.suo
Fdk2R/RSoftFxHost/bin/*

.RData
*.Rout
.Rhistory
*.log
man/*
Storage/*
Fdk2R/QuoteL2Tester/QuoteL2Tester/bin/*
*.Rd
man
NAMESPACE
*.suo
*.suo
RPackage/NAMESPACE
*.userprefs
*.suo
Fdk2R/packages/*/lib/
Fdk2R/packages/log4net.*
Fdk2R/packages/NUnit.*
Fdk2R/packages/NLog*
*.suo
bin
Store/*
examples/*.html
examples/rsconnect/documents
