<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdviserExamples.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AdviserExamples.Settings1>
            <setting name="Server" serializeAs="String">
                <value>tpdemo.fxopen.com</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>2131</value>
            </setting>
            <setting name="Symbol" serializeAs="String">
                <value>EUR/USD</value>
            </setting>
            <setting name="RateTrailingDistance" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="MaximumOpenVolumeLots" serializeAs="String">
                <value>0.2</value>
            </setting>
        </AdviserExamples.Settings1>
    </applicationSettings>
</configuration>