<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutomaticTrading.Sources.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AutomaticTrading.Sources.Properties.Settings>
            <setting name="DataSources_FDK_StorageLocation" serializeAs="String">
                <value>C:\Temp\Quotes\</value>
            </setting>
            <setting name="DataSources_FDK_Server" serializeAs="String">
                <value>10.2.7.19</value>
            </setting>
            <setting name="DataSources_FDK_Username" serializeAs="String">
                <value>67547786</value>
            </setting>
            <setting name="DataSources_FDK_Password" serializeAs="String">
                <value>temp_pass</value>
            </setting>
        </AutomaticTrading.Sources.Properties.Settings>
    </applicationSettings>
</configuration>