<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mql2Fdk.Example.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Mql2Fdk.Launcher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mql2Fdk.Example.Settings>
            <setting name="Address" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>67547786</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>temp_pass</value>
            </setting>
            <setting name="Symbol" serializeAs="String">
                <value>EURUSD</value>
            </setting>
            <setting name="PriceType" serializeAs="String">
                <value>Bid</value>
            </setting>
            <setting name="Periodicity" serializeAs="String">
                <value>M1</value>
            </setting>
        </Mql2Fdk.Example.Settings>
        <Mql2Fdk.Launcher.Settings>
            <setting name="Address" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>67547786</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>temp_pass</value>
            </setting>
            <setting name="Symbol" serializeAs="String">
                <value>EURUSD</value>
            </setting>
            <setting name="PriceType" serializeAs="String">
                <value>Bid</value>
            </setting>
            <setting name="Periodicity" serializeAs="String">
                <value>M1</value>
            </setting>
        </Mql2Fdk.Launcher.Settings>
    </applicationSettings>
</configuration>