<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinancialExample.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinancialExample.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FinancialExample.Settings>
            <setting name="Address" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="SSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </FinancialExample.Settings>
    </userSettings>
    <applicationSettings>
        <FinancialExample.Settings>
            <setting name="ConnectionStrings" serializeAs="Xml">
                <value>
                    <FixConnectionStringBuilder xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <FixVersion>FIX.4.4</FixVersion>
                        <Address />
                        <Port>5003</Port>
                        <SenderCompId />
                        <TargetCompId>EXECUTOR</TargetCompId>
                        <Username />
                        <Password />
                        <SecureConnection>true</SecureConnection>
                        <FixLogDirectory />
                        <FixEventsFileName />
                        <FixMessagesFileName />
                        <DecodeLogFixMessages>true</DecodeLogFixMessages>
                        <ProtocolVersion>ext.1.7</ProtocolVersion>
                        <ExcludeMessagesFromLogs>W</ExcludeMessagesFromLogs>
                    </FixConnectionStringBuilder>
                </value>
            </setting>
        </FinancialExample.Settings>
    </applicationSettings>
</configuration>