<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArbitrageAggregator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ArbitrageAggregator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ArbitrageAggregator.Settings>
      <setting name="FeederPort" serializeAs="String">
        <value>22060</value>
      </setting>
      <setting name="FeederUsername" serializeAs="String">
        <value>98B4</value>
      </setting>
      <setting name="FeederPassword" serializeAs="String">
        <value>083EA274</value>
      </setting>
      <setting name="BridgeAddress" serializeAs="String">
        <value>184.173.139.171</value>
      </setting>
      <setting name="BridgePort" serializeAs="String">
        <value>22090</value>
      </setting>
      <setting name="BridgeUsername" serializeAs="String">
        <value>User22090</value>
      </setting>
      <setting name="BridgePassword" serializeAs="String">
        <value>Password22090</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>output.log</value>
      </setting>
      <setting name="Securities" serializeAs="String">
        <value>EUR/USD;</value>
      </setting>
      <setting name="FeederAddress" serializeAs="String">
        <value>50.22.218.205</value>
      </setting>
      <setting name="BankCodes" serializeAs="String">
        <value>17;15;20</value>
      </setting>
      <setting name="MetaAccount" serializeAs="String">
        <value>0</value>
      </setting>
    </ArbitrageAggregator.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <ArbitrageAggregator.Settings>
      <setting name="Setting" serializeAs="String">
        <value>s</value>
      </setting>
    </ArbitrageAggregator.Settings>
  </userSettings>
  <!--<connectionStrings>
    <add name="ArbitrageContext" providerName="System.Data.sqlclient" connectionString="Data Source=db.ag.prod.soft-fx.net;Initial Catalog=Arbitrage;Persist Security Info=True;User ID=arbWriter;Password=arbWriter123" />
  </connectionStrings>-->
</configuration>